pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.env
.calva/output-window/output.calva-repl
.clj-kondo/
/.clj-kondo/*
.calva/output-window/output.calva-repl
/.lsp/
/.lsp/*
/.lsp/metadata
/.lsp/metadata/*
/.lsp/metadata/.gitkeep
.lsp/.cache/db.transit.json
.clj-kondo/.cache/v1/clj/clojure.set.transit.json
